html, body {
  padding: 0px;
  margin: 0px;
  font-family: "Ubuntu Mono","Liberation Mono","DejaVu Sans Mono","Courier New",monospace;
}

html {
  background-color: #1E1E1E;
}

body {
  display: grid;
  grid-template-columns: 15% 85%;
  height: 100vh;
}

main {
  display: grid;
  grid-template-columns: 30% 70%;
}

#folders-wrapper {
  background-color: rgb(51, 51, 51);
}

#messages-wrapper {
  background-color: rgb(37, 37, 38);
  color: #cccccc;
  padding: 1rem;
}

#messages {
  list-style-type: none;
  padding-left: 0px;
}

#messages li {
  padding: 2%;
  padding-bottom: 2%;
  border-bottom: 1px solid  rgb(51, 51, 51);
}

.highlighted {
  color: #569cd6;
}

.message-grid {
  display: grid;
  grid-template-columns: 14% 68% 14%;
  column-gap: 2%;
}